users:
 - name: alan-sysop
   comment: Alan Jenkins (system admin)
   admin: True

 - name: alan
   comment: Alan Jenkins

# We can do this the hard way, or the easy way.
alan_servers__admins:
 - alan-sysop

# We don't assign the systemd-journal group in role/users,
# to avoid that mysteriously depending on roles/nspawn-on-debian
# (that's what installs systemd).
systemd_journal__users: "{{ alan_servers__admins }}"

alan_servers__sshkeys: "{{ inventory_dir }}/files/ssh-authkeys/"
openssh_server__authkeys:
 - name: alan-sysop
   sshkey: "{{ lookup('file', servers__sshkeys + 'alan-sysop') }}"

 - name: alan
   sshkey: "{{ lookup('file', servers__sshkeys + 'alan') }}"
