# This file is managed by a scripted process.
# Manual changes will be destroyed if the script is re-applied.

# Use a different directory, to avoid storing a load of images
# in the root filesystem.  (I don't want to use bind mounts,
# they can get messy).
#
# Symlinking individual machines fails in v231 (F25).
# The bug is fixed in v233.
#
# This will fail to use default SELinux labelling, but if you use the
# current SELinux policy it breaks this service anyway.  Just relabel
# /usr/bin/machined as `bin_t`, and everything runs fine (unconfined).

[Service]
# have to clear the value first, otherwise it can't be overridden.
ExecStart=

ExecStart=/usr/bin/systemd-nspawn \
            --quiet --keep-unit --boot --link-journal=try-guest \
            --network-veth -U --settings=override \
            -D {{ nspawn_on_fedora__machines_directory }}/%i
