module my-nspawn 1.0;

require {
	type devpts_t;
	type system_dbusd_t;
	class chr_file { read write };
}

#============= system_dbusd_t ==============
# This is required for `machinectl login`. (Why?)

allow system_dbusd_t devpts_t:chr_file { read write };
