[submodule.sourcejedi-atop]
	path = roles/sourcejedi.atop
	url = git@github.com:sourcejedi/ansible-atop.git

[submodule.sourcejedi-ccache]
	path = roles/sourcejedi.ccache
	url = git@github.com:sourcejedi/ansible-ccache.git

[submodule.sourcejedi-etckeeper]
	path = roles/sourcejedi.etckeeper
	url = git@github.com:sourcejedi/ansible-etckeeper.git

[submodule.sourcejedi-google-chrome]
	path = roles/sourcejedi.google-chrome
	url = git@github.com:sourcejedi/ansible-google-chrome.git

[submodule.sourcejedi-hdparm-noapm]
	path = roles/sourcejedi.hdparm-noapm
	url = git@github.com:sourcejedi/sourcejedi-hdparm-noapm.git

[submodule.sourcejedi-nspawn-on-fedora]
	path = roles/sourcejedi.nspawn-on-fedora
	url = git@github.com:sourcejedi/sourcejedi-nspawn-on-fedora.git

[submodule.sourcejedi-rpmfusion-free]
	path = roles/sourcejedi.rpmfusion-free
	url = git@github.com:sourcejedi/ansible-rpmfusion-free.git

[submodule.sourcejedi-rpmfusion-nonfree]
	path = roles/sourcejedi.rpmfusion-nonfree
	url = git@github.com:sourcejedi/ansible-rpmfusion-nonfree.git

[submodule.sourcejedi-rpmfusion-impl]
	path = roles/sourcejedi.rpmfusion__impl
	url = git@github.com:sourcejedi/ansible-rpmfusion__impl.git

[submodule.sourcejedi-rpmfusion-remove]
	path = roles/sourcejedi.rpmfusion-remove
	url = git@github.com:sourcejedi/ansible-rpmfusion-remove.git

[submodule.sourcejedi-systemd-journal]
	path = roles/sourcejedi.systemd-journal
	url = git@github.com:sourcejedi/ansible-systemd-journal.git
[submodule "roles/tersmitten.sysctl"]
	path = roles/tersmitten.sysctl
	url = https://github.com/Oefenweb/ansible-sysctl

[submodule "roles/sourcejedi.google-chrome-remove"]
	path = roles/sourcejedi.google-chrome-remove
	url = git@github.com:sourcejedi/ansible-google-chrome-remove.git
