[submodule.sourcejedi-atop]
	path = roles/sourcejedi.atop
	url = git@github.com:sourcejedi/ansible-atop.git

[submodule.sourcejedi-ccache]
	path = roles/sourcejedi.ccache
	url = git@github.com:sourcejedi/ansible-ccache.git

[submodule.sourcejedi-disable-unwanted-servers]
	path = roles/sourcejedi.disable_unwanted_servers
	url = git@github.com:sourcejedi/ansible_disable_unwanted_servers.git

[submodule.sourcejedi-etckeeper]
	path = roles/sourcejedi.etckeeper
	url = git@github.com:sourcejedi/ansible-etckeeper.git

[submodule.sourcejedi-firewalld]
	path = roles/sourcejedi.firewalld
	url = git@github.com:sourcejedi/ansible-firewalld.git

[submodule.sourcejedi-google-chrome]
	path = roles/sourcejedi.google_chrome
	url = git@github.com:sourcejedi/ansible-google-chrome.git

[submodule.sourcejedi-hdparm-noapm]
	path = roles/sourcejedi.hdparm-noapm
	url = git@github.com:sourcejedi/sourcejedi-hdparm-noapm.git

[submodule.sourcejedi-nspawn-on-fedora]
	path = roles/sourcejedi.nspawn-on-fedora
	url = git@github.com:sourcejedi/sourcejedi-nspawn-on-fedora.git

[submodule.sourcejedi-rpmfusion-free]
	path = roles/sourcejedi.rpmfusion_free
	url = git@github.com:sourcejedi/ansible-rpmfusion-free.git

[submodule.sourcejedi-rpmfusion-nonfree]
	path = roles/sourcejedi.rpmfusion_nonfree
	url = git@github.com:sourcejedi/ansible-rpmfusion-nonfree.git

[submodule.sourcejedi-rpmfusion-impl]
	path = roles/sourcejedi.rpmfusion__impl
	url = git@github.com:sourcejedi/ansible-rpmfusion__impl.git

[submodule.sourcejedi-rpmfusion-remove]
	path = roles/sourcejedi.rpmfusion_remove
	url = git@github.com:sourcejedi/ansible-rpmfusion-remove.git

[submodule.sourcejedi-systemd-journal]
	path = roles/sourcejedi.systemd_journal
	url = git@github.com:sourcejedi/ansible-systemd-journal.git
[submodule "roles/tersmitten.sysctl"]
	path = roles/Oefenweb.sysctl
	url = https://github.com/Oefenweb/ansible-sysctl

[submodule "roles/sourcejedi.google-chrome-remove"]
	path = roles/sourcejedi.google_chrome_remove
	url = git@github.com:sourcejedi/ansible-google-chrome-remove.git
[submodule "roles/sourcejedi.cups"]
	path = roles/sourcejedi.cups
	url = git@github.com:sourcejedi/ansible-cups.git
[submodule "roles/sourcejedi.libvirt_nss"]
	path = roles/sourcejedi.libvirt_nss
	url = git@github.com:sourcejedi/ansible-libvirt_nss.git
[submodule "roles/Oefenweb.postfix"]
	path = roles/Oefenweb.postfix
	url = https://github.com/Oefenweb/ansible-postfix
[submodule "roles/ansible-ufw"]
	path = roles/Oefenweb.ufw
	url = https://github.com/Oefenweb/ansible-ufw
