# Cleanup after unexpected reboots, e.g. if a filesystem snapshot was used.
# Take a lock on the log file to avoid conflicts.
@reboot root flock /var/run/lock/local-daily-rsync /ansible-managed/daily-rsync/cleanup_script
