// This file is managed by a scripted process.
// Manual changes will be destroyed if the script is re-applied.

{% if repos_apt_proxy %} 
Acquire::HTTP::Proxy "{{ repos_apt_proxy }}";
Acquire::HTTPS::Proxy "DIRECT";
{% endif %}
