- name: RedHat-compatible sudo package?
  when: ansible_os_family == "RedHat"
  set_fact: sudo_group="wheel"

- name: Debian-compatible sudo package?
  when: ansible_os_family == "Debian"
  set_fact: sudo_group="sudo"

- name: Test operating system is supported
  assert:
    that: sudo_group is defined

- name: Install sudo
  package: name=sudo state=present

- name: Create users
  user:
    state: present
    name:      '{{ item.name }}'
    comment:   '{{ item.comment | d(omit) }}'

    # Debian /etc/default/useradd: 'we use "sh" here because
    # useradd is a low level utility and should be as general
    # as possible'.
    shell: /bin/bash

    # admin users get sudo and log access.
    #
    # Don't remove groups.
    # We allow other roles to add them (openssh-server). 
    append: true
    groups: '{{
              (([sudo_group, "adm", "systemd-journal"] if item.admin | d(false) else []) +
               []) | join(",")
            }}'
  with_items: '{{ users }}'
  loop_control:
    label: "{{ item.name }}"

