# Usage looks like this:
#
# cp -av ansible/ jessie/root/
#
# # Enter container with default settings - use host network
# # (NOTE this also requires DNS setup in etc/resolv.conf,
# #  and I'm not sure what is setting that up when I do this)
# systemd-nspawn -D jessie --settings=no
#
# cd /root/ansible
# bootstrap/debian jessie  # install ansible
#
# # Double-check ansible dependencies
# ./localhost jessie playbooks/all-bootstrap.yml
#
# # Prepare system for boot & login, including a DHCP client
# ./localhost jessie playbooks/test-nspawn-debian-bootstrap.yml
#
# # hostname doesn't seem to get set when using --boot on Debian or Ubuntu.
# hostname > /etc/hostname
#
# passwd alan-sysop
# exit
#
# # Boot in separate network namespace
# systemd-nspawn -D jessie -b --network-veth
# ...
# # Run this playbook
# cd /root/ansible
# ./localhost jessie playbooks/test-nspawn-deb.yml
#

- include: test-nspawn-deb-bootstrap.yml

# Tasks to run in booted container
# (e.g. which start services).
- hosts: test-nspawn-deb
  roles:
    - openssh-server

