- include: test-nspawn-fedora-bootstrap.yml

- hosts: test-nspawn-fedora
  roles:
    - openssh-server

    - sourcejedi.rpmfusion-free
  tasks:
    # DHCP client
    - name: Install NetworkManager
      package: name=NetworkManager state=present
